* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 400;
    font-size: 18px;
}

body {
    background-image: url(img/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
}

.gradient_button {
    position: relative;
    display: inline-block;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    color: black;
    background: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    transition: color 0.3s ease;
}

/* gradient overlay */
.gradient_button::before {
    content: "";
    position: absolute;
    top: 0;
    left: -85%; 
    width: 150%; 
    height: 100%;
    background: linear-gradient(
        90deg, 
        rgba(255, 255, 255, 0.8) 0%, 
        rgba(0, 0, 0, 0.2) 100%
    );
    transition: all 0.7s ease;
    transform: skewX(-12deg); 
}


.gradient_button:hover::before {
    left: 65%; 
}

.gradient_button:hover {
    color: white;
    background-color: black;
}

/* Welcome page */
.container_welcome {
    padding: 10px;
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 10%;
    left: 5%;
    border: 2px solid white;
    color: white;
}

/* Card Form */
.auth-card {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20%;
    width: 380px;
    height: fit-content;
    padding: 30px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.2);
}

/* Tabs */
.tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.tab {
    flex: 1;
    padding: 12px;
    font-size: 18px;
    border: none;
    background: none;
    cursor: pointer;
    color: #999;
    transition: 0.3s;

}

.tab.active {
    color: #000;
    border-bottom: 3px solid #4A90E2;
}

.form {
    display: none;
    width: 100%;
    top: 0;
    left: 0;
    animation: zoom 5s ease;
    transition: all 5s ease;
}

.form.active {
    display: block;
    animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px);}
    to   { opacity: 1; transform: translateY(0);}
}

/* Inputs */
input {
    width: 100%;
    padding: 12px;
    margin: 8px 0 18px;
    border: 2px solid #ddd;
    border-radius: 10px;
    font-size: 16px;
}

input:focus {
    border-color: #4A90E2;
    outline: none;
}

/* Reveal password */
.password-wrapper {
    position: relative;
    width: 100%;
}

.password-wrapper input {
    width: 100%;
    padding-right: 40px;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    cursor: pointer;
    opacity: 0.6;
}

.toggle-password:hover {
    opacity: 1;
}

/* Checkbox */
#checkbox {
    width: auto;
    margin-right: 10px;
}

/* Forgot password */
.forgot {
    text-align: right;
    margin-top: -10px;
    margin-bottom: 10px;
}

.forgot * {
    font-size: 14px;
    color: #ff4d4d;
    text-decoration: none;
}

