/*------------------------ Dialog ------------------------*/
.dialog {
    align-items: center;
    justify-content: center;

    /* center it */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    align-items: center;
    padding: 10px 20px;
    background: linear-gradient(
        to left,
        #e7c56a 0%,
        #f7e7ac 20%,
        rgba(255,255,255,0) 100%
    );
}

.dialog p {
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 10px;
}

.dialog button{
    font-size: 20px;
    background: black;
    border: 0;
    border-radius: 10px;
    padding: 5px 15px;
    color: white;
    cursor: pointer;
    margin-right: 20px;
    justify-self: center;
}

.dialog button:hover{
    background: white;
    color: black;
    outline: black 2px solid;
}

/* ------------------------ Main-site ------------------------*/
.container {
    border: 0;
    display: flex;
    justify-content: left;
    margin:  0px;  
}

/* --------------- Left-site ---------------*/
.leftContainer {
    width:  360px;
    height: 100%;
    border-right: solid lightgray 2px;
}

.upperContainer {
    display: grid;
    justify-content: center;
    width:  360px;
    height: auto;
    position: relative;
    border-bottom: solid lightgray 2px;
}

.ProfilePicture {
    padding-bottom: 10px;
    padding-top: 22px;
    display: grid;
    justify-content: center;

}

.ProfilePicture img {
    width:  200px;  
    height: 200px;
    border-radius: 50%;
    outline: solid 2px lightgray;
    cursor: pointer;
}

.ProfilePicture:hover img{
    filter: brightness(0.5);
}

.ProfilePicture i {
    position: absolute;
    z-index: 1;
    top: 30%;
    left: 43%;
    opacity: 0;    
    font-size: 50px; 
    color: rgb(206, 206, 206);             
    pointer-events: none;
}

.ProfilePicture:hover i {
    opacity: 1;
}

.upperContainer p {
    font-size: 32px;
    padding: 20px 0px;
    margin: 0px 0px;
    font-weight: bolder;
}

.lowerContainer {
    width:  360px;
    height: auto;
}

.lowerContainer p {
    margin: 0px;
    padding-left: 6px;
    font-size: 25px;    
    padding-bottom: 36px;
    padding-top: 8px;
    cursor: pointer;
}

.lowerContainer p:hover{
    background: lightgoldenrodyellow;
    border-right: solid 2px lightgray;
}

.leftChoosing {
    font-weight: 700;
}

/*-------------- Right Container --------------*/
.rightContainer {
    height: auto;
    width: 100%;
    margin-left: 20px;
}

.rightContainer p{
    font-size: 36px;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 20px;
}

/*--- Information ---*/
.information {
    padding-left: 30px;
    display: flex;
    justify-content: left;
}

.informationFirstDiv {
    display: grid;
    width: 220px;
    align-items: center;
}

.informationFirstDiv label {
    font-size: 20px;
    padding-bottom: 20px;
}

.informationSecondDiv {
    display: grid;
    width: 84%;
    align-items: center;
}

.informationSecondDiv input {
    background: lightgrey;
    border: 0;
    border-radius: 10px; 
    margin-bottom: 20px;
    padding: 0px 10px;
    height: 38px;
    font-size: 20px;
}

.informationSecondDiv input:read-only {
    cursor: unset;
    outline: none;
}

.informationSecondDiv input::placeholder {
    color: black;
}

.informationSecondDiv select {
    background: lightgrey;
    border: 0;
    border-radius: 10px; 
    margin-bottom: 20px;
    padding: 0px 10px;
    height: 38px;
    font-size: 20px;
    cursor: unset;
    color: black;
}

.informationSecondDiv select:disabled {
    color: black;
    opacity: 1;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: none;
}

.informationSecondDiv option {
    color: black
}

.informationButton {
    display: flex;
    justify-content: right;
    gap: 20px  
}

.informationButton button{
    font-size: 20px;
    background: black;
    border: 0;
    border-radius: 10px;
    padding: 5px 15px;
    color: white;
    cursor: pointer;
    margin-right: 20px;
}

.informationButton button:hover{
    background: white;
    color: black;
    outline: black 2px solid;
}

/*--- Password ---*/

.password{
    padding-left: 30px;
    display: flex;
    justify-content: left;
    gap: 20px
}

.passwordFirstDiv {
    display: grid;
    width: 220px;
    align-items: center;
}

.passwordFirstDiv label {
    font-size: 20px;
    padding-bottom: 20px;
}

.passwordSecondDiv {
    display: grid;
    width: 82%;
    align-items: center;
}

.passwordSecondDiv input {
    background: lightgrey;
    border: 0;
    border-radius: 10px; 
    margin-bottom: 20px;
    padding: 0px 10px;
    height: 38px;
    font-size: 20px;
}

.passwordButton {
    display: flex;
    justify-content: right;
}

.passwordButton button{
    font-size: 20px;
    background: black;
    border: 0;
    border-radius: 10px;
    padding: 5px 80px;
    color: white;
    cursor: pointer;
    margin-right: 30px;
}

.passwordButton button:hover{
    background: white;
    color: black;
    outline: black 2px solid;
}

/* ----- Bill Info ----- */
.billContainer {
  max-width: 900px;
  margin: 40px auto;
  padding: 32px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 8px 30px rgba(0,0,0,0.08);
}

.billContainer p {
    margin-bottom: 4px;
}

.billTitle {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 24px;
}

.billSection {
  margin-bottom: 24px;
}

.billSection h4 {
  margin-bottom: 12px;
  font-weight: 600;
}

.billTable {
  width: 100%;
  border-collapse: collapse;
}

.billTable th,
.billTable td {
  padding: 12px;
  border-bottom: 1px solid #eee;
  text-align: left;
}

.productCell {
  display: flex;
  align-items: center;
  gap: 12px;
}

.productCell img {
  width: 48px;
  height: auto;
  border-radius: 4px;
}

.billTotal {
    margin-top: 24px;
    border-top: 1px solid black;
    padding-top: 16px;
}

.totalRow {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    font-size: 15px;
}

.final {
    font-weight: 700;
    font-size: 17px;
    color: #c92127;
}


/* Status */
.status {
  margin-left: 8px;
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 13px;
  font-weight: 600;
}

.pending {
  background: #fff3cd;
  color: #856404;
}

.processing {
  background: #cce5ff;
  color: #004085;
}

.shipping {
  background: #d4edda;
  color: #155724;
}

.delivered {
  background: #d1ecf1;
  color: #0c5460;
}

.cancelled {
  background: #f8d7da;
  color: #721c24;
}
