* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 400;
    font-size: 18px;
    outline: 1px dashed blue; /* Uncomment để show hitbox */
}

.card {
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  padding: 20px;
  margin: 10px;
  text-align: center;
  width: fit-content;
  max-width: 250px;
  display: inline-block;
}

.card .card-image {
  max-width: 80%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card .card-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  margin-bottom: 10px;
  color: greenyellow;
}

.card .card-text {
  font-family: Arial, Helvetica, sans-serif;
  color: red;
}

