/* ------------------------ Header-site ------------------------*/
.siteHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 24px;
    background: linear-gradient(180deg, #ffffff, #ffffff);
}

/* ---- Display Brand ---- */
.brand {
    display: flex;
    gap: 12px;
    padding-right: 10px;
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: 700;
    text-decoration: none;
}

/* ---- Menu Search ----  */
.menuSearchContainer {
    position: relative;
    display: flex;  
    flex-direction: row;
    padding: 0px 8px;
    background-color: black;
    color: white;
    border-radius: 12px;
    width: fit-content;
}

.menuSearchContainer button {
    background-color: transparent;
}

/* ---- Catalogue ---- */
.catalogueDropdown {
    display: inline-block;
}

.catalogueDropdown button {
    cursor: pointer;
    border: none;
}

.catalogueContainer {
    position: absolute;
    display: none;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    border: 2px black solid;
    border-radius: 15px;
    padding: 20px;
    color: black;
    top: 50px;
    left: -172px;
    
    /* transform: translateX(-50%); */

    z-index: 9;
}

.catalogueTitleContainer {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    padding-right: 20px;
    border-right: 1px solid black;
}

.catalogueContainer li {
    width: 200px;
    list-style-type: none;
    padding: 10px 0px;
    cursor: pointer;
}

.catalogueContainer li:hover {
    color: hsl(44, 72%, 66%);
    font-weight: 700;
    background-color: hsl(0, 0%, 90%);
    border-bottom: 1px solid red;
}

.catalogueItemContainer {
    padding-left: 20px;
    width: 600px;
}

.catalogueDropdown:hover .catalogueContainer {
    display: flex;
}

/* ---- Display search bar---- */
.searchBar {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 12px;
    padding: 5px 5px;
}

.searchBar input {
    background: transparent;
    flex: 1;
    border: none;
    outline: none;
    padding: auto;
    font-size: 20px;
    color: white;
    text-align: center;
    max-width: 600px;
    width: 400px;
}

.searchBar button {
    border: none;
}

/* ---- Display last icon ---- */
.icons {
    display: flex;
    gap: 10px;
    align-items: center;
    padding-left: 10px;
}

.icons i {
    border: 0;
    cursor: pointer;
}

.icons i:hover {
    transform: translateY(5px);
}

.icons button {
    border: 0;
    width: 40px;
    background: transparent;
    align-items: center;
    justify-content: center;
    outline: none;
    cursor: pointer;
}

.icons button:hover {
    transform: translateY(5px);
}

.icons button img {
    border: 0;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-radius: 50%;
}

/*------------------------ Header Gradient ------------------------*/
.header-gradient {
    display: flex;
    height: 50px;
    margin-bottom: 12px;
    justify-content: right;
    align-items: center;
    background: linear-gradient(
        to left,
        #e7c66a 0%,
        #f7e7ac 70%,
        rgba(255,255,255,0) 100%
    );
    
}   

.header-gradient i {
    color: white;
}

.header-gradient a {
    color: white;
    font-size: 25px;
    padding-right: 30px;
    padding-left:  20px;
}