/*------------------------ Dialog ------------------------*/
.dialog {
    width: 600px;

    /* center it */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 0px 0px;
    outline-width: 2px;
    background: white;
}

.dialog p {
    text-align: left;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 10px;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;
}

.dialog p1 {
    text-align: left;
    margin-left: 20px;
    margin-right: 10px;
    font-size: 20px;
    margin-bottom: 5px;
}

.dialog button{
    font-size: 20px;
    background: black;
    border: 0;
    border-radius: 10px;
    padding: 5px 15px;
    margin-bottom: 10px;
    color: white;
    cursor: pointer;
    margin-right: 20px;
    justify-self: center;
}

.dialog button:hover{
    background: white;
    color: black;
    outline: black 2px solid;
}

/* ------------------------ Header-site ------------------------*/
.siteHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 24px;
    background: linear-gradient(180deg, #ffffff, #ffffff);
}

/* ---- Display Brand ---- */
.brand {
    display: flex;
    gap: 12px;
    padding-right: 10px;
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: 700;
    text-decoration: none;
}

/* ---- Menu Search ----  */
.menuSearchContainer {
    position: relative;
    display: flex;  
    flex-direction: row;
    align-items: center;
    padding: 0px 8px;
    background-color: black;
    color: white;
    border-radius: 12px;
}

/* ---- Catalogue ---- */
.catalogueDropdown {
    position: relative;
    display: inline-block;
}

.catalogueDropdown button {
    display: grid;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    border: none;
}

.catalogueDropdown:hover .catalogueContainer{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.catalogueContainer {
    position: absolute;
    top: 45px;
    left: -140px;

    min-width: 760px;
    max-width: fit-content;

    color: black;
    background: #fff;
    border-radius: 14px;
    padding: 16px 18px;

    box-shadow: 0 12px 30px rgba(0,0,0,.15);

    opacity: 0;
    visibility: hidden;
    transform: translateY(8px);
    transition: all .25s ease;

    z-index: 20;
}

.filterTitle {
  font-weight: 600;
  margin-bottom: 14px;
  font-size: 16px;
}

.tagGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.tagItem {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;

  padding: 8px 10px;
  border-radius: 10px;
  cursor: pointer;

  transition: background .2s ease, box-shadow .2s ease;
}

.tagItem:hover {
  background: linear-gradient(90deg, #fff, #f5d26a);
  box-shadow: inset 0 0 0 1px #f5d26a;
}

.tagItem input {
  accent-color: #f5c842;
  cursor: pointer;
}

.tagItem span {
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
  width: 100px;
}

.tagItem:hover span {
    position: absolute;
    left: 27px;
    padding: 8px 6px 8px 4px;

    background: linear-gradient(90deg, #fff, #f5d26a);
    box-shadow: inset 0 0 0 1px #f5d26a;

    white-space: normal;
    width: max-content;
    min-width: 120px;
    z-index: 10;

    /* quan tr·ªçng */
    border-radius: 0 10px 10px 0; /* TL TR BR BL */
}

/* ---- Display search bar---- */
.searchBar {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 12px;
    padding: 5px 5px;
}

.searchBar input {
    background: transparent;
    flex: 1;
    border: none;
    outline: none;
    padding: auto;
    font-size: 20px;
    color: white;
    text-align: center; /* Place holder o giu thi search text cung o giua luon nha */   
    max-width: 600px;
    width: 400px;
}

.searchBar button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: grid;
    align-items: center;
}

/* ---- Display last icon ---- */
.icons {
    display: flex;
    gap: 10px;
    align-items: center;
    padding-left: 10px;
}

.icons i {
    border: 0;
    cursor: pointer;
}

/* .icons i:hover {
    transform: translateY(0px);
} */

.icons button {
    border: 0;
    width: 40px;
    background: transparent;
    align-items: center;
    justify-content: center;
    outline: none;
    cursor: pointer;
}

/* .icons button:hover {
    transform: translateY(0px);
} */

.icons button img {
    border: 0;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-radius: 50%;
    outline: solid 2px lightgray;
}

/* ---- Cart Icon with Badge ---- */
.cartIcon {
  position: relative;
}

.cartBadge {
  position: absolute;
  top: -6px;
  right: -6px;
  background: red;
  color: white;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50%;
}


/*------------------------ Header Gradient ------------------------*/
.pageNameGradient {
    display: flex;
    color: white;
    height: 50px;
    margin-bottom: 0px;
    justify-content: right;
    align-items: center;
    background: linear-gradient(
        to left,
        #e7c66a 0%,
        #f7e7ac 70%,
        rgba(255,255,255,0) 100%
    );
    padding-right: 30px;
}   

.nameContainer {
    font-size: 28px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

/*------------------------ Footer Section ------------------------*/
.footerContainer {
    display: flex;
    background-color: #e5f2ff;
    justify-content: space-between;
    position: relative;
}

.footerContainer img {
    height: 306px;
}

.footerContainer img[src="/img/PP_Large.png"]{
    height: 180px;
    position: absolute;
    top:  62px;
    left: 63px
}

.footerInfo {
    height: 250px;
    background: transparent;
    display: flex;
    margin-top: 30px;
}

.footerInfo1st {
    width: 450px;
    border-right: lightgray 3px solid;
}

.footerInfo1st div{
    display: flex;
    justify-content: left;
    align-items: center;
    padding-bottom: 10px;
}

.footerInfo1st p{
    font-size: 30px;
    font-weight: 550;
    display: flex;
}

.footerInfo1st a{
    width: 130px;
    display: flex;
    border-bottom: #e7c66a 5px solid;
    padding-bottom: 5px;
    padding-top: 3px;
    margin-bottom: 30px;
}

.footerInfo1st div p{
    padding-left: 10px;
    font-size: 20px;
}

.footerInfo1st div span{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 30px;
    background: hsl(44, 72%, 66%);
    padding: 4px 4px;
    width: 40px;
    height: 40px
}

.footerInfo2nd {
    width: 500px;
    display: block;
    align-items: center;
    justify-content: center;
}

.footerInfo2nd p {
    display: grid;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 700;
}

.footerInfo2nd a {
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    color: rgb(131, 131, 131);
}

.footerInfo2nd span {
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e7c66a;
}

.footerInfo2nd div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    gap: 25px
}

.footerInfo2nd div i {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 23px;
    background: hsl(44, 72%, 66%);
    width: 40px;
    height: 40px
}

/* Loading */
.loading {
    margin: 200px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 20px;
}

.loading img {
    width: 200px;
    /* height: 100px; */
}

.loading p {
    font-size: 24px;
    font-weight: 600;
    color: #e7c66a;
}