/* ------------------------ Header-site ------------------------*/
.siteHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 24px;
    background: linear-gradient(180deg, #ffffff, #ffffff);
}

/* ---- Display Brand ---- */
.brand {
    display: flex;
    gap: 12px;
    padding-right: 10px;
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: 700;
    text-decoration: none;
}

/* ---- Menu Search ----  */
.menuSearchContainer {
    position: relative;
    display: flex;  
    flex-direction: row;
    align-items: center;
    padding: 0px 8px;
    background-color: black;
    color: white;
    border-radius: 12px;
}

/* ---- Catalogue ---- */
.catalogueDropdown {
    display: inline-block;
}

.catalogueDropdown button {
    display: grid;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    border: none;
}

.catalogueDropdown:hover .catalogueContainer{
    display: flex;
}

.catalogueContainer {
    position: absolute;
    display: none;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    border: 2px black solid;
    border-radius: 15px;
    padding: 20px;
    color: black;
    background: white;
    top: 45px;
    left: -172px;
    z-index: 9;
}

.catalogueTitleContainer {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    padding-right: 20px;
    border-right: 1px solid black;
}

.catalogueTitleContainer li {
    width: 200px;
    list-style-type: none;
    padding: 10px 0px;
    cursor: pointer;
}

.catalogueTitleContainer li:hover {
    color: hsl(44, 72%, 66%);
    font-weight: 700;
    background-color: hsl(0, 0%, 90%);
    border-bottom: 1px solid red;
}

.catalogueItemContainer {
    padding-left: 20px;
    width: 600px;
}

/* ---- Display search bar---- */
.searchBar {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 12px;
    padding: 5px 5px;
}

.searchBar input {
    background: transparent;
    flex: 1;
    border: none;
    outline: none;
    padding: auto;
    font-size: 20px;
    color: white;
    text-align: center; /* Place holder o giu thi search text cung o giua luon nha */   
    max-width: 600px;
    width: 400px;
}

.searchBar button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: grid;
    align-items: center;
}

/* ---- Display last icon ---- */
.icons {
    display: flex;
    gap: 10px;
    align-items: center;
    padding-left: 10px;
}

.icons i {
    border: 0;
    cursor: pointer;
}

/* .icons i:hover {
    transform: translateY(0px);
} */

.icons button {
    border: 0;
    width: 40px;
    background: transparent;
    align-items: center;
    justify-content: center;
    outline: none;
    cursor: pointer;
}

/* .icons button:hover {
    transform: translateY(0px);
} */

.icons button img {
    border: 0;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-radius: 50%;
    outline: solid 2px lightgray;
}

/* ---- Cart Icon with Badge ---- */
.cartIcon {
  position: relative;
}

.cartBadge {
  position: absolute;
  top: -6px;
  right: -6px;
  background: red;
  color: white;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50%;
}


/*------------------------ Header Gradient ------------------------*/
.pageNameGradient {
    display: flex;
    color: white;
    height: 50px;
    margin-bottom: 0px;
    justify-content: right;
    align-items: center;
    background: linear-gradient(
        to left,
        #e7c66a 0%,
        #f7e7ac 70%,
        rgba(255,255,255,0) 100%
    );
    padding-right: 30px;
}   

.nameContainer {
    font-size: 28px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

/*------------------------ Footer Section ------------------------*/
.footerContainer {
    display: flex;
    background-color: #e5f2ff;
    justify-content: space-between;
    position: relative;
}

.footerContainer img {
    height: 306px;
}

.footerContainer img[src="/img/PP_Large.png"]{
    height: 180px;
    position: absolute;
    top:  62px;
    left: 63px
}

.footerInfo {
    height: 250px;
    background: transparent;
    display: flex;
    margin-top: 30px;
}

.footerInfo1st {
    width: 450px;
    border-right: lightgray 3px solid;
}

.footerInfo1st div{
    display: flex;
    justify-content: left;
    align-items: center;
    padding-bottom: 10px;
}

.footerInfo1st p{
    font-size: 30px;
    font-weight: 550;
    display: flex;
}

.footerInfo1st a{
    width: 130px;
    display: flex;
    border-bottom: #e7c66a 5px solid;
    padding-bottom: 5px;
    padding-top: 3px;
    margin-bottom: 30px;
}

.footerInfo1st div p{
    padding-left: 10px;
    font-size: 20px;
}

.footerInfo1st div span{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 30px;
    background: hsl(44, 72%, 66%);
    padding: 4px 4px;
    width: 40px;
    height: 40px
}

.footerInfo2nd {
    width: 500px;
    display: block;
    align-items: center;
    justify-content: center;
}

.footerInfo2nd p {
    display: grid;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 700;
}

.footerInfo2nd a {
    display: grid;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: rgb(131, 131, 131);
}

.footerInfo2nd span {
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e7c66a;
}

.footerInfo2nd div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    gap: 25px
}

.footerInfo2nd div i {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 23px;
    background: hsl(44, 72%, 66%);
    width: 40px;
    height: 40px
}

/* Loading */
.loading {
    margin: 200px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 20px;
}

.loading img {
    width: 200px;
    /* height: 100px; */
}

.loading p {
    font-size: 24px;
    font-weight: 600;
    color: #e7c66a;
}